/*
Simple pomodoro timer. Homework from The Odin Project. Do what you want with it. 
Disclaimer: It does not count completely accurately. -vilsl
*/

* {
    font-family: helvetica, sans-serif, arial;
    margin: 0;
    padding: 0;
}

body { 
    background-color: #121212;
    color: #ffffff;
}

.content {
    width: 390px;
    margin: 15% auto;
}

/* Display for timer */

#pomodoroDisplay {
    margin-top: 10px;
    text-align: center;
    font-size: 24px;
}

#pomodoroDisplay p {
    margin-top: 10px;
}

#timerDisplay {
    font-size: 72px;
}

#rounds {
    font-size: 18px;
}

/* Playback controls for timer */

#playbackControls {
    margin-top: 30px;
}

#playbackControls button {
    margin: 0 20px;
}

.playbackButton {
    background-color: #BB86FC;
    color: #000000;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    width: 80px;
    height: 50px;
}

.playbackButton:hover {
    background-color: #BB86FC;
    cursor: grabbing;
}

/* Controls to adjust duration */

#durationContainer {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

#durationContainer p {
    display: inline;
}

.metaControls {
    width: 100px;
    display: inline-block;
    margin: 0 10px;
    line-height: 25px;
}

.metaButtons {
    margin-top: 10px;
}

.durationButton {
    background-color: #03DAC6;
    font-weight: bold;
    font-family: arial;
    border-radius: 5px;
    border: none;
    width: 25px;
    height: 25px;
    font-size: 18px;
}

#workDownBtn, #intervalDownBtn, #breakDwnBtn {
    float: left;
}

#workUpBtn, #intervalUpBtn, #breakUpBtn {
    float: right;
}
